<!DOCTYPE html>
<html lang="en">
<head>
<title>{{ page.title }}</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<!-- link to main stlyesheet -->
      <link rel="stylesheet" type="text/css" href="/css/home.css">
</head>
<body>
      <div class="topnav">
       <a class="active" href="/pages/index">Home</a>
       <a href="/pages/release-notes">Release Notes</a>
       <a href="/pages">SurfaceFlinger</a>
       <a href="/pages/">OpenGL ES</a>
       <a href="/pages/">HUB Scans</a>
       <a href="/pages/resume">Resume</a>
      </div>
      
  <div class="container">
    {{ content }}
  </div><!-- /.container -->

</body>
</html>
